* {
    box-sizing: border-box;
}

.title {
    align-items: center;
}

.navbar {
    color: teal;
    position: sticky;
    justify-content: space-evenly;
    top: 10px;
}

.nav-list li {
    display: inline-block;
    height: 20px;
    width: 200px;
    padding: 20px;
}
